html {
	font-family: 'Encode Sans'!important;
	width: 100%;
}

html::after {
  content: "";
  background: url(/home.png);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: -2478px;
  right: 0;
  position: absolute;
  z-index: -1;   
}

body {
	margin: 0 auto;
}

b, strong {
    font-weight: 800;
}

header {
	text-align: center;
	background: #FFFFFF;
	border-bottom: 2px solid #D8D8D8;
	box-sizing: border-box;
}

h1 a {
  display: inline-block;
  width: 111px;
  overflow: hidden;
  text-indent: -9999px;
  background: url("../images/tonylogo2.png") no-repeat;
  background-size: contain;
}

header h1 a:hover {
    -webkit-transform: scale(1.01) rotate(0.01deg);
    transform: scale(1.01) rotate(0.01deg);
    transition: opacity 0.2s ease-in-out;
    opacity: 0.8;
}

section, footer {
	text-align: center;
}

section h2 {
	font-weight: 500;
	font-size: 40px;
}

section p {
	width: 577px;
	margin: 0 auto;
	font-weight: 200;
	line-height: normal;
	font-size: 20px;

}

section .row, footer .row {
	margin: 0 auto;
}

#banner {
  padding: 60px;
}

#banner .spotligth {
	text-align: left;
	margin-top: 110px;
	margin-left: 38px;
}
#banner .spotligth h3 {
	font-size: 30px;
}

#banner .spotligth .price-from h3 {
	font-size: 40px;
}

#banner .spotligth .price-to h3 {
	font-size: 70px;
}

#badges li {
	display: block;
	text-align: center;
	float: left;
}

footer {
	color: #fff;
	width: 100%;
	background: #2B2B2B;
}

footer img {
}